<form action="/random/results">
  <div>
    <label for="user_min">Minimum</label>
  </div>
  <div>
    <input type="text" name="min" id="user_min" placeholder="E.g. 1.5">
  </div>
    <div>
    <label for="user_max">Maximum</label>
  </div>
  <div>
    <input type="text" name="max" id="user_max" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>
</form>
